<table mat-table [dataSource]="source" matSort class="mat-elevation-z12">

  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef> Avatar</th>
    <td mat-cell *matCellDef="let element">
      <img src="{{element['avatar']}}" alt="{{element['firstName']}}">
    </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
    <td mat-cell *matCellDef="let element"> {{element['firstName']}} </td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Country</th>
    <td mat-cell *matCellDef="let element"> {{element['country']}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Country</th>
    <td mat-cell *matCellDef="let element"> {{element['email']}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['avatar', 'firstName', 'country']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['avatar', 'firstName', 'country']" (click)="onClickRow($event, row)"
      style="cursor: pointer"></tr>
</table>
